@model PPcore.Models.member

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.birthdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.birthdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.building)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.building)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cid_card)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cid_card)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cid_card_pic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cid_card_pic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cid_type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cid_type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.country_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.country_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.current_age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.current_age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.district_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.district_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.floor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.floor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.h_no)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.h_no)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lane)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lane)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lot_no)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lot_no)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.marry_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.marry_status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mem_group_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mem_group_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mem_photo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mem_photo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mem_type_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mem_type_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mlevel_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mlevel_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mstatus_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mstatus_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.nationality)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.parent_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.parent_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.place_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.place_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.province_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.province_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.religion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.room)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.room)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rowversion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rowversion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.social_app_data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.social_app_data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.subdistrict_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.subdistrict_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.texta_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.texta_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.textb_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.textb_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.textc_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.textc_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.village)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.village)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_log)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_log)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.x_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.x_status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.zip_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.zip_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.zone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.zone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.member_code">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
