@model IEnumerable<PPcore.Models.member>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cid_card)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cid_card_pic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cid_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.current_age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.district_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.h_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lot_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marry_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mem_group_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mem_photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mem_type_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mlevel_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mstatus_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parent_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.place_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.province_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rowversion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.social_app_data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subdistrict_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.texta_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.textb_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.textc_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.village)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.x_log)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.x_note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.x_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zip_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cid_card)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cid_card_pic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cid_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.current_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.district_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.h_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lot_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marry_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mem_group_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mem_photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mem_type_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mlevel_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mstatus_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parent_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.province_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rowversion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.social_app_data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subdistrict_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.texta_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.textb_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.textc_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.village)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.x_log)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.x_note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.x_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.member_code">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.member_code">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.member_code">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
